@page
@model MyRazorWeb.Pages.Books.DetailsModel
@{
  ViewData["Title"] = " Details ";
}
<div>
  <h1> Book Details </h1>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.Title )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.Title )
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.Price )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.Price )
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.PublishDate )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.PublishDate )
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.InStock )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.InStock )
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.Description )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.Description )
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor( model => model.Book.Category )
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor( model => model.Book.Category )
    </dd>
  </dl>
</div>
<div>
  <a asp-page="./List"> Back to List </a>
</div>

