@page
@model MyRazorWeb.Pages.Books.ListModel
@{
  ViewData["Title"] = "List";
}
<h1> Book List </h1>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].Price)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].PublishDate)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].InStock)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].Description)
      </th>
      <th>
        @Html.DisplayNameFor(model => ((IList<Book>)model.Books)[0].Category)
      </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Books)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
          <a asp-page="./Details" asp-route-id="@item.Id"> Details </a> |
          <a asp-page="./Edit" asp-route-Id="@item.Id"> Edit </a> |
          <a asp-page="./Delete" asp-route-Id="@item.Id"> Delete </a>

        </td>

      </tr>
    }
  </tbody>
</table>
